<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Affirmations Project</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.13.1/cjs/react.development.js" 
            integrity="sha512-sMdSpN1QmT/KQNe7asHtoVn8/yYLvLlUBOp5zNxnGtviyECUwZE5a5unNLvORfR1ySyX/CVGh48JTkWMiOXLRQ==" 
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.13.1/cjs/react-dom-server.browser.development.js" 
            integrity="sha512-YT0s/0sJsff3Q2+d1yre780CAd/FwyaTIIQ64uL+uqPKBxYtbverg3YBuNIUEFJN71N4U8xeiSVqEtMI5IRqRg==" 
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/6.1.19/browser.js" 
            integrity="sha512-rj9vJL09YRzrHsuIdHDg6oep4f5n1SoMl8np+cRoMvxX3YFs6kJuFeY4oQTRI4IumkM+p0GQfmzg1FW9oh+ZzQ==" 
            rossorigin="anonymous"></script>
</head>
<body>
    <!-- container for react app -->
    <div id='root'></div>
    <!-- script tag for jsx file -->
</body>
</html>