<!DOCTYPE html>
<html lang="eng">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Affirmations Project {% block title %}{% endblock%}</title>
  
  {% block head %}{% endblock %}
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/6.1.19/browser.js" 
  integrity="sha512-rj9vJL09YRzrHsuIdHDg6oep4f5n1SoMl8np+cRoMvxX3YFs6kJuFeY4oQTRI4IumkM+p0GQfmzg1FW9oh+ZzQ==" 
  crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/7.0.0-alpha.20/babel.js" integrity="sha512-0PVMCdtQzKFgcwrF7cPT5TE52/dU2CgaElRFa6fJpvQMlrlOY1zCarj6dZLYfG3sbN4fkgV2T3MwT1Oq3B/Wrg==" crossorigin="anonymous"></script>
  <!-- <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js" crossorigin></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js" integrity="sha512-pBSlhNUvB+td6sjW1zmR6L7c7kVWR4octUPl4tfHmzO63424nxta8aLmficEcAAswQmRqTiToi63AazDurj/Sg==" crossorigin="anonymous"></script> --> -->
</head>
<body>
  {% block body %}{% endblock %}
    <!-- container for react app -->
    <div id='root'></div>
    <!-- script tag for jsx file -->
    <script type='text/jsx' src='static/js/app.jsx>'></script>
  {% block after_body %}{% endblock %}
</body>
</html>