<!DOCTYPE html>
<html lang="eng">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Affirmations Project {% block title %}{% endblock%}</title>
  
  {% block head %}{% endblock %}
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/6.1.19/browser.js" 
  integrity="sha512-rj9vJL09YRzrHsuIdHDg6oep4f5n1SoMl8np+cRoMvxX3YFs6kJuFeY4oQTRI4IumkM+p0GQfmzg1FW9oh+ZzQ==" 
  crossorigin="anonymous"></script>
</head>
<body>
  {% block body %}{% endblock %}
    <!-- container for react app -->
    <div id='root'></div>
    <!-- script tag for jsx file -->
    <script type='text/jsx' src='static/js/app.jsx>'></script>
  {% block after_body %}{% endblock %}
</body>
</html>