{% extends 'main.html' %}
{% block title %}Subscribe{% endblock %}

{% block body %}
    <!-- <h1>Subscribe to receive daily affirmations</h1> -->

    <form action="/subscribe" class="form-subscribe" method="POST">

        <h2 class="form-subscribe-heading">Subscribe to receive daily affirmations</h2>
        
        <div class="form-group">
            <label for="fname-field">Name:</label>
            <input type="fname"
                    name="fname"
                    placeholder="First Name"
                    required>
        </div>

        <div class="form-group">
            <label for="phone-num-field">Phone Number:</label>
            <input type="tel"
                    name="phone_num"
                    id="phone_num"
                    pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                    placeholder="000-000-0000"
                    required>
        </div>

        <button class="subscribe" type="submit">Subscribe</button>
    </form>

{% endblock %}